@font-face {
  font-family: 'Righteous Regular';
  src: url('assets/fonts/Righteous Regular.woff2') format('woff2'),
    url('assets/fonts/Righteous Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('assets/fonts/Merriweather Regular.woff2') format('woff2'),
    url('assets/fonts/Merriweather Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url('assets/fonts/Merriweather Bold.woff2') format('woff2'),
    url('assets/fonts/Merriweather Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --ff-logo: "Righteous", sans-serif;
    --ff-heading: "Merriweather Bold", sans-serif;
    --ff-body: "Merriweather Regular", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    --font-size-heading-regular: var(--fs-800);
    --font-size-body-regular: var(--fs-500);
  }
}

@layer base {
  body {
    font-family: var(--ff-body);
    font-size: var(--font-size-body-regular);    
  }

  h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-900);
    margin-bottom: 1rem;
  }

  h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-800);
    margin-bottom: 0.75rem;
  }

  h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-700);
    margin-bottom: 0.5rem;
  }

  h4 {
    font-family: var(--ff-heading);
    font-size: var(--fs-600);
    margin-bottom: 0.5rem;
  }
}
